{% extends 'index.html' %}
{% load static %}

{% block title %} Store {% endblock %}

{% block content %}
<section class="row">
  {{ cart }}
  {% for item in cart %}
  {{ item.quantity }}
  {% endfor %}
  {% for product in products %}
  <article class="col-lg-4">
    {% for image in product.images %}
    <img class="thumbnail" src="{{ image }}" alt="{{product.name}}">
    {% endfor %}
    <div class="box-element product">
      <h6><strong>{{ product.name }}</strong></h6>
      <hr>

      <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
      <a class="btn btn-outline-success" href="#">View</a>
      <h4 style="display: inline; float: right;"><strong>${{ product.price|floatformat:2 }}</strong></h4>
    </div>
  </article>
  {% endfor %}

</section>
{% endblock content %}