{% extends 'index.html' %}
{% block title %} Stripe Checkout {% endblock %}

{% block content %}
  <section class="section">
    <div class="container text-center py-3">
      <p class="fw-bolder font-monospace p-1 text-center d-inline">Your payment succeeded</p>
      <div class="d-inline rounded-5 bg-success p-1"><i class="fas fa-check text-white p-1"></i></div>
      
      <a href="{% url 'home' %}" class="d-block w-50 m-auto mt-3 font-monospace p-2 rounded  btn btn-primary text-center">Back to home.</a>
    </div>
  </section>
{% endblock content %}